/*@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-w2yso');
	src:url('fonts/icomoon.eot?#iefix-w2yso') format('embedded-opentype'),
		url('fonts/icomoon.woff?-w2yso') format('woff'),
		url('fonts/icomoon.ttf?-w2yso') format('truetype'),
		url('fonts/icomoon.svg?-w2yso#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lapiz:before {
	content: "\e600";
	margin-right: 0.8em;
}
.icon-arriba:before {
	content: "\e601";
}
.icon-abajo:before {
	content: "\e602";
}
.icon-estrella:before {
	content: "\e603";
	margin-right: 0.4em;
}

a{
	color: #22BCE0;
}

aside{
	display: none;
}

body{
	background: #EEEEEE;
	font-family: "Open Sans";
	font-size: 16px;
}

footer{

	background: #22BCE0;
	text-align: center;
	color:rgba(255,255,255,0.7);
	padding: 1em;
}

footer p:first-child{
	margin-bottom: 0;
}

footer p:last-child{
	margin-top: 0;
}

footer p:last-child:before
,footer p:last-child:after{

	content: "-"

}

header{

	background: #343B54;
	color:white;
	overflow: hidden;	
	padding: 0;
	position: relative;
}

header figure{
	float: left;
}

header h1{
	font-size: 2em;
	font-weight: bold;
	margin: .7em 70px 0 0;
	text-align: center;
}

header #avatar{
	margin: 1em .5em 0 0;
	position: absolute;
	top:0;
	right: 0;

}

header .span-h1{
	display: none;
}

header #logo{
		border-right: 1px solid white;
}


header #logo img:hover{

	-webkit-transform:rotate(360deg);

}

header #logo img{

	margin-right: 0.5em;
	width: 52px;
	-webkit-transition:.5s;
}

header #avatar img{
	width: 55px;
	border-radius: 50%;
}

nav{
	background: #7488CD;
	padding: 0 7em 0 0;
	position: relative;
	box-shadow: rgba(0,0,0,0.5) 0 0 10px;
}

nav ul{
	list-style: none;
	margin: 0;
}

nav ul li{
	display: inline-block;
	margin: 0 1em 0 0;
}



nav ul li a{
	color:white;
	text-decoration: none; 
	display: block;
	padding: 0.5em;
	-webkit-transition:.3s;

}

nav ul li a:hover{
	background: #343B54
}


nav ul #publicar_nav{
	position: absolute;
	top: -0.4em;
	right: 0;

}

nav ul #publicar_nav a:hover:before{

		font-size: 20px;

}

nav ul #publicar_nav a:before{


	position: absolute;
	left: 0.5em;
	top:1em;

}

nav ul #publicar_nav a{
	background: #22BCE0;
	font-style: italic;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	padding: 1em 0.5em 1em 2.5em;
	border-radius: 5px;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;

}


#contenido{
	margin:1em;
}


#contenido article  .votacion a{
			text-decoration: none;
}


#contenido .item{
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 2em;
	min-height: 148px;
	position: relative;
}

#contenido .item .autor_item{
	color: #AAA;
}

#contenido .item .fecha_item{
	color: #AAA;
}

#contenido .item .datos_item{

	text-align: right;
	margin: 1em 1em 0.7em 1em;
}

#contenido .item .datos_item .tag_item
{
	background: #F4502A;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 0.2em 0.5em;
	float:left;
	border-radius: 10%;
}
#contenido .item .imagen_item{
	float:left;
} 

#contenido .item .imagen_item img{
	width: 96px;
}

#contenido .item .titulo_item {
	padding:1em 1em 0 0;
	font-style: italic;
	font-size: 1.2em;
}

#contenido .item .titulo_item a{

	text-decoration: none;
		color: #A5A5A5;
}

#contenido .item .votacion{
	background: white;
	position: absolute;
	left: 10%;
	top:100%;
	width: 80%;
	margin-top: 3px;
	padding: 0.2em 0.5em;
	border-radius: 0 0 0.5em 0.5em;

}

#contenido .item .votacion .comentario_item
,#contenido .item .votacion .guardar_item{

	float: right;
}

.

.down{
	color:red;

}

.guardar_item{
	color: yellow;
	text-decoration: none;
	margin-top: .1em;
}
.menu-resumen{
	display: none;
}
.up{

	color:green;

}

.formulario{

	margin:1em;
}

.formulario input{
	text-align: left;
	margin-right: .5em;
 	border:1px solid #ccd;
 	border-radius: 5px;
 	padding: 0.2em 0.6em;	
}

 .formulario input[type="submit"]{

 	background: #22BCE0;
	font-style: italic;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	padding: .6em .8em;
	border-radius: 5px;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;	
	color:white ;
 }

/* Vista para Imprimir
@media print{
	body{
		font-size: 30px;
	}
}
*/

/***Vista Para Iphone 5***/
@media screen and (max-width:414px){

	nav, nav ul, nav ul li{
		padding:0;
		margin:0;
	}

	nav ul li a{
		color:white;
		text-decoration: none; 
		display: block;
		-webkit-transition:.3s;

	}


	h1{
		display: block;
	}
	header h1{
		text-align: left;
		color:white;
		margin:.5em 0;
	}

	body{
		color:red;
	}

	header figure{
		margin: 1em;
	}

	.nav-element{
		display: none;
	}

	.li-resumen{
		width: 50%;
	}
	.menu-resumen{
		display: inline-block;
		width:100%;
		padding: 0.75em 0;
		height: 1.5em;
	}

	.icon-menu:before {
		content: "\e604";
		padding:1em;
		font-size: 1.5em;
		text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	}

	nav ul #publicar_nav{
		display:inline-block;
		width: 50%;
		text-align: center;
		margin: 0;
		top:0em;

	}


	nav ul #publicar_nav a{

		font-style: normal;
		box-shadow: none;
		padding: .75em 0;
		border-radius: 0;
		text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;	
		padding: 
	}

	.icon-lapiz:before{
		display: none;
		padding: .75em 0;
	}

	[class^="icon-"], [class*=" icon-"] {
		height: 1.5em;
	}


	#contenido figure {
		margin: 0.5em;
	}

	#contenido .item .titulo_item {
	padding: 1em 1em 0 0;
	font-style: italic;
	font-size: 1em;
	}



}
/*** Fin Vista Para Iphone 5***/
@media screen and (min-width:800px){

	h1{
		display: block;
	}

	header h1{
		font-size: 1.2em;
		font-weight: normal;
		margin: 1em 70px 0 0;
		text-align: left;

	}

	header .span-h1{
		display: inline;
	}

	#contenido{
		overflow: hidden;
	}

	#contenido .item:nth-child(odd){
		margin-right: 1%;
	}

	#contenido .item{
		width: 48%;
		float: left;

	}	

 .formulario{
 	margin:0;
 	padding: 1em 1em 0 1em;
 	text-align: right;
 	display: none;
 }
 
 .formulario input{


 	border:1px solid #ccd;
 	border-radius: 5px;
 	padding: 0.2em 0.6em;

 }

 .formulario input[type="text"]{

 	margin-bottom: .5em;

 }

 .formulario input[type="submit"]{

 	background: #22BCE0;
	font-style: italic;

	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	padding: .6em .8em;
	border-radius: 5px;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;	
	color:white ;

 }

	nav ul li{
		display: inline-block;
		margin: 0;
	}



}

@media screen and (min-width:1000px){

	h1{
		display: block;
	}

	header h1{
		font-size: 1.2em;
		font-weight: normal;
		margin: 1em 70px 0 0;
		text-align: left;

	}

	header .span-h1{
		display: inline;
	}
	aside{
		display: block;
		float: right;
		margin: 1em;
	}

	#contenido{
		overflow: hidden;
	}

	#contenido .item:nth-child(odd){
		margin-right: 1%;
	}

	#contenido .item{
		width: 48%;
		float: left;

	}	

 .formulario{
 	margin:0;
 	padding: 1em 1em 0 1em;
 	text-align: right;
 	display: none;
 }
 
 .formulario input{

 	border:1px solid #ccd;
 	border-radius: 5px;
 	padding: 0.2em 0.6em;
 }

 .formulario input[type="submit"]{

 	background: #22BCE0;
	font-style: italic;

	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	padding: .6em .8em;
	border-radius: 5px;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;	
	color:white ;
 }

}

/*
 * Formularios
 */

 .formulario{
 	display: none;
 }


